{% extends "base.html" %}
{% block css_content %}
<link rel="stylesheet" type="text/css" href="/attraction.css">
{% endblock %}
{% block main_content %}
    <div class="separator_nav"></div>
    <div class="section">
        <div class="section__btns-container">
            <button class="left-arrow-btn">
                <img class="arrow-img" src="/arrowleft_img.png" alt="">
            </button>
            <button class="right-arrow-btn">
                <img class="arrow-img" src="/arrowright_img.png" alt="">
            </button>
            <div class="img-radio-inputs-container">
                <!-- <div class="img-radio-input-container">
                    <input class="img-radio-input" type="radio" name="img" id="1"/>
                </div> -->

            </div>
        </div>
        <div class="section__imgs-container">
            <!-- <img class="section__img" src="" alt=""> -->
        </div>
        <div class="section__profile-container">
            <span class="section__profile-name header3"></span>
            <div></div>
            <span class="section__profile-info body_med"></span>
            <div></div>
            <div class="section__profile-booking-container">
                <span class="body_bold align_center">訂購導覽行程</span>
                <div></div>
                <span class="body_med align_center">以此景點為中心的一日行程，帶您探索城市角落故事</span>
                <div></div>
                <div class="section__profile-booking-date-container">
                    <span class="body_bold align_center">選擇日期：</span>
                    <div class="section__profile-booking-date-input-container">
                        <input class="section__profile-booking-date-input body_med" type="date" name="" id="" />
                    </div>
                </div>
                <div></div>
                <div class="section__profile-booking-time-container">
                    <span class="body_bold align_center">選擇時間：</span>
                    <div class="time-radio-input-container">
                        <input class="time-radio-input" type="radio" name="time" id="morning" />
                        <span class="body_med">上半天</span>
                    </div>
                    <div class="time-radio-input-container">
                        <input class="time-radio-input" type="radio" name="time" id="afternoon" />
                        <span class="body_med">下半天</span>
                    </div>
                </div>
                <div></div>
                <div class="section__profile-booking-price-container">
                    <span class="body_bold">導覽費用：</span>
                    <span class="price body_med"></span>
                </div>
                <div></div>
                <button class="section__profile-booking-btn">
                    <span class="button_reg">開始預約行程</span>
                </button>
            </div>
        </div>
    </div>
    <div class="separator_main"></div>
    <div class="infos">
        <span class="infos__description content_reg align_center"></span>
        <div></div>
        <span class="body_bold align_center">景點地址：</span>
        <span class="infos__address content_reg align_center"></span>
        <div></div>
        <span class="body_bold align_center">交通方式：</span>
        <span class="infos__transport content_reg align_center"></span>
    </div>
{% endblock %}
{% block script_content %}
    <script src="/attraction.js"></script>
{% endblock %}