<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>
    <div class="header">
        <div class="header__container">
            <div class="header__title header2">台北一日遊</div>
            <div class="header__btn">
                <div class="header_btn-container">
                    <button class="header__btn-booking">
                        <span class="header__btn-booking-text body_med">預定行程</span>
                    </button>
                    <button class="header__btn-login">
                        <span class="header__btn-login-text body_med">登入/註冊</span>
                    </button>
                </div>
            </div>
        </div>  
    </div>
    <div class="banner">
        <div class="guide">
            <div class="guide__container">
                <div class="guide__slogan">
                    <div class="guide__slogan-1 header1">輕鬆享受台北一日悠閒</div>
                    <div class="guide__slogan-2 body_bold">探索每個角落，體驗城市的深度旅遊行程</div>
                </div>
                <div class="guide__search">
                    <div class="guide__search-bar">
                        <div class="guide__search-input-container">
                            <input class="guide__search-input body_bold" type="text" name="" id="" value="輸入景點名稱查詢">
                        </div>
                        <div class="guide__search-btn-container">
                            <button class="guide__search-btn"></button>
                            <div class="guide__search-btn-icon">
                                <img class="guide__search-btn-icon-img" src="/search.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main__list-bar">
            <div class="main__list-bar-left-container">
                <button class="main__list-bar-left-btn">
                    <img class="main__list-bar-btn-img" src="/arrowleft.png" alt="">
                </button>
            </div>
            <div class="main__list-bar-container">
                <div class="main__list-item-container">
                    
                </div>
            </div>
            <div class="main__list-bar-right-container">
                <button class="main__list-bar-right-btn">
                    <img class="main__list-bar-btn-img" src="/arrowright.png" alt="">
                </button>
            </div>
        </div>
        <div class="main__attractions">
            <div class="main__attractions-group">
                
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer__container">
            <div class="footer__text body_bold">COPYRIGHT © 2021 台北一日遊</div>
        </div>
    </div>
    <script src="/index.js"></script>
</body>
</html>