{% extends "base.html" %}
{% block css_content %}
<link rel="stylesheet" type="text/css" href="/css/index.css">
{% endblock %}
{% block main_content %}
    <div class="banner">
        <div class="guide">
            <div class="guide__container">
                <div class="guide__slogan">
                    <div class="guide__slogan-1 header1">輕鬆享受台北一日悠閒</div>
                    <div class="guide__slogan-2 body_bold">探索每個角落，體驗城市的深度旅遊行程</div>
                </div>
                <div class="guide__search">
                    <div class="guide__search-bar">
                        <div class="guide__search-input-container">
                            <input class="guide__search-input body_bold" type="text" placeholder="輸入景點名稱查詢">
                        </div>
                        <div class="guide__search-btn-container">
                            <button class="guide__search-btn"></button>
                            <div class="guide__search-btn-icon">
                                <img class="guide__search-btn-icon-img" src="/images/search.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main__list-bar">
            <div class="main__list-bar-left-container">
                <button class="left-arrow-btn">
                    <img class="arrow-img" src="/images/arrowleft_mrt-list.png" alt="">
                </button>
            </div>
            <div class="main__list-bar-container">
                <div class="main__list-item-container">
                    
                </div>
            </div>
            <div class="main__list-bar-right-container">
                <button class="right-arrow-btn">
                    <img class="arrow-img" src="/images/arrowright_mrt-list.png" alt="">
                </button>
            </div>
        </div>
        <div class="main__attractions">
            <div class="main__attractions-group">
                
            </div>
        </div>
    </div>
{% endblock %}
{% block script_content %}
    <script src="/js/index.js"></script>
{% endblock %}