<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>
    <div class="header">
        <div class="header__container">
            <button class="header__title header2">台北一日遊</button>
            <div class="header__btn">
                <div class="header_btn-container">
                    <button class="header__btn-booking">
                        <span class="header__btn-booking-text body_med">預定行程</span>
                    </button>
                    <button class="header__btn-login">
                        <span class="header__btn-login-text body_med">登入/註冊</span>
                    </button>
                    <button class="header__btn-logout none">
                        <span class="header__btn-logout-text body_med">登出系統</span>
                    </button>
                </div>
            </div>
        </div>  
    </div>
    <div class="signup none">
        <div class="sign-decorator-bar"></div>
        <button class="sign-close" id="sign-up-close">
            <img src="/close.png" >
        </button>
        <div class="signup__container">
            <span class="sign-header header3">註冊會員帳號</span>
            <form id="signupForm">
                <input class="sign-input body_med" type="text" name="sign-up-name" placeholder="輸入姓名" required>
                <input class="sign-input body_med" type="email" name="sign-up-email" placeholder="輸入電子郵件" required>
                <input class="sign-input body_med" type="password" name="sign-up-password" placeholder="輸入密碼" required>
                <button class="sign-btn button_reg" type="submit" >註冊新帳戶</button>
            </form> 
            <div class="sign-jumps" id="sign-up-jump-div">
                <span class="body_med">已經有帳戶了？</span>
                <button class="body_med" id="sign-up-jump">點此登入</button>
            </div>
        </div>
    </div>
    <div class="signin none">
        <div class="sign-decorator-bar"></div>
        <button class="sign-close" id="sign-in-close">
            <img src="/close.png" >
        </button>
        <div class="signin__container">
            <span class="sign-header header3">登入會員帳號</span>
            <form id="signinForm">
                <input class="sign-input body_med" type="email" name="sign-in-email" placeholder="輸入電子郵件" required>
                <input class="sign-input body_med" type="password" name="sign-in-password" placeholder="輸入密碼" required>
                <button class="sign-btn button_reg" type="submit">登入帳戶</button>
            </form>
            <div class="sign-jumps" id="sign-in-jump-div">
                <span class="body_med">還沒有帳戶？</span>
                <button class="body_med" id="sign-in-jump">點此註冊</button>
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="guide">
            <div class="guide__container">
                <div class="guide__slogan">
                    <div class="guide__slogan-1 header1">輕鬆享受台北一日悠閒</div>
                    <div class="guide__slogan-2 body_bold">探索每個角落，體驗城市的深度旅遊行程</div>
                </div>
                <div class="guide__search">
                    <div class="guide__search-bar">
                        <div class="guide__search-input-container">
                            <input class="guide__search-input body_bold" type="text" placeholder="輸入景點名稱查詢">
                        </div>
                        <div class="guide__search-btn-container">
                            <button class="guide__search-btn"></button>
                            <div class="guide__search-btn-icon">
                                <img class="guide__search-btn-icon-img" src="/search.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main__list-bar">
            <div class="main__list-bar-left-container">
                <button class="left-arrow-btn">
                    <img class="arrow-img" src="/arrowleft_mrt-list.png" alt="">
                </button>
            </div>
            <div class="main__list-bar-container">
                <div class="main__list-item-container">
                    
                </div>
            </div>
            <div class="main__list-bar-right-container">
                <button class="right-arrow-btn">
                    <img class="arrow-img" src="/arrowright_mrt-list.png" alt="">
                </button>
            </div>
        </div>
        <div class="main__attractions">
            <div class="main__attractions-group">
                
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer__container">
            <div class="footer__text body_bold">COPYRIGHT © 2021 台北一日遊</div>
        </div>
    </div>
    <script src="/index.js"></script>
</body>
</html>